[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
pandas = "*"
pypdf2 = "*"
tabula-py = "*"
pdfx = "*"
google-search-results = "*"
spacy = "*"

[dev-packages]

[requires]
python_version = "3.11"
